@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
}

body {
    background-color:#080202;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width:1200px;
    margin:0 auto;
}

.swiper-button-prev::after{
    font-size:25px;
}

.swiper-button-next::after{
    font-size:25px;
}

.swiper-button-prev{
    color:#DB241B;
}

.swiper-button-next{
    color:#DB241B;
}

.swiper-pagination-bullet{
    background-color:#D3D2D2;
    opacity:1;
}

.swiper-pagination-bullet-active{
    background-color:#DB241B;
}

.menu {
    position:absolute;
    top:20px;
    left:0;
    right:0;
    display:flex;
    justify-content:center;
    z-index:1000;
}

.navbar {
    display:flex;
}

.menu-1{
    margin-right:180px;
}

.menu-2{
    margin-left:180px;
    display:flex;
    align-items: center;
}

.logo-1 {
    width:0;
}

.logo-2 {
    width:150px;
}

.socials {
    display:flex;
}

.social {
    margin:0 10px;
    height:40px;
    width:40px;
    border: 1px solid #DB241B;
    border-radius:50%;
}

.social:hover {
    background:#DB241B ;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position:relative;
    float:left;
}

.menu .navbar ul li a {
    font-size:18px;
    padding:20px;
    color:#FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #DB241B;
}

#menu {
    display:none;
}

.menu-icono {
    width:25px;
}

.menu label {
    cursor: pointer;
    display:none;
}

/*HEADER*/

.header-content {
    margin-top:200px;
    padding-bottom:50px;
}

.slider {
    display:flex;
    align-items:center;
}

.slider-txt {
    margin-left:85px;
    width:50%;
}

.slider-txt h1 {
    font-size:70px;
    color:#FFFFFF;
    text-transform:uppercase;
    font-weight:800;
}

.slider-txt p {
    font-size:18px;
    color:#A7A7A7;
}

.botones {
    margin-top:50px;
}

.btn-1 {
    display:inline-block;
    padding:15px 35px;
    border: 2px solid #DB241B;
    color: #FFF;
    font-weight:600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-right:20px;
}

.btn-1:hover{
    background:#DB241B;
}

.slider-img{
    width:50%;
}

.slider-img img{
    margin-right:225px;
    width:550px;
}

.products {
    background-color: #0D0D0D;
}

.tabs {
    display:flex;
    flex-wrap:wrap;
    padding:100px 0px;
}

.tabs label {
    width:15%;
    order:1;
    display:block;
    padding: 20px 0px;
    text-align: center;
    cursor:pointer;
    color: #A7A7A7;
    font-weight:700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order:99;
    display:block;
    width:100%;
    display:none;
    padding-top:25px;
}

.tabs input[type="radio"] {
    display:none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom:2px solid #DB241B;
    color:#FFF;
}

.product {
    display:flex;
    align-items:center;
    padding:25px;
    margin: 0 10px;
}

.product-img {
    width:50%;
    text-align:center;
}

.product-img h4 {
    display:inline-block;
    padding: 5px 7px;
    line-height:15px;
    color:#FFF;
    font-size:14px;
    text-transform:uppercase;
    font-weight:800;
    border:2px solid #555;
    border-radius:10px;
    margin-bottom:50px;
}